* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

.nav {
  background-color: rgba(255, 255, 255, 0.95);
}

h1 {
  font-size: 5.5rem;
  line-height: 1.35;
}

.read-btn,
.go-back-Btn {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  cursor: pointer;
}

#book-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  overflow: visible;
}

.book-info-background {
  background: url(../static/img/book-inf-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 7px 0 0 7px;
}

#information {
  padding: 20px;
  background-color: #37383d;
  width: 350px;
  height: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 0 7px 7px 0;
  color: white;
  text-align: center;
  font-size: 12px;
}

#bookPic {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  height: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
}
#btn {
  margin: 5px;
}
