<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/book-viewer.css" />
    <title>Book Viewer</title>
  </head>
  <body style="position: relative; min-height: 100vh">
    <header class="header">
      <nav class="nav">
        <h1>Bibliophile</h1>
        <div>
          <input class="search" placeholder="Search.." />
          <button class="searchBtn">Search</button>
        </div>
      </nav>
    </header>
    <div id="div1"></div>

    <footer class="footer">
      <ul class="footer__nav">
        <li class="footer__item">
          <a class="footer__link" href="#">About</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Terms of Use</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Privacy Policy</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Contact Us</a>
        </li>
      </ul>
    </footer>

    <script src="../static/book-viewer.js"></script>
  </body>
</html>
